@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .link-height {
    height: 2.5rem;
  }
}

:root {
  --bg-main: hsla(224, 32%, 9%, 1);
  --bg-secondary: hsla(223, 36%, 14%, 1);
  --bg-light: hsla(223, 35%, 20%, 1);
  --bg-light2: hsla(223, 35%, 30%, 1);
  --bg-very-light: hsla(221, 25%, 45%, 1);
  --bg-modal-backdrop: hsla(224, 32%, 9%, 0.8);
  --bg-image-backdrop: hsla(223, 36%, 14%, 0.4);
  --red: hsla(1, 96%, 63%, 1);
  --blue: hsla(248, 96%, 57%, 1);
  --text-white: rgb(255, 255, 255);
  --text-main: hsla(222, 25%, 80%, 1);
  --text-secondary: hsla(221, 25%, 60%, 1);
  --text-dark: hsla(221, 25%, 45%, 1);
  color-scheme: dark;
}

body {
  color: var(--text-main);
  background-color: var(--bg-main);
}
